{% extends 'layout.html' %}

{% block content %}
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">编辑靓号</div>

      <!-- Table -->
      <div class="panel-body">
      {#novalidate表示不让浏览器进行校验#}
          <form method="post" novalidate>
              {% csrf_token %}

              {% for field in form %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {{ field }}
                    <span style="color: red">{{ field.errors.0 }}</span>
                </div>
              {% endfor %}

              <button type="submit" class="btn btn-primary">提交</button>
          </form>
    </div>
</div>
{% endblock %}