@font-face {
  font-family: "iconfont"; /* Project id 3936505 */
  src: url('iconfont.woff2?t=1678188292977') format('woff2'),
       url('iconfont.woff?t=1678188292977') format('woff'),
       url('iconfont.ttf?t=1678188292977') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hot:before {
  content: "\e63e";
}

.icon-huoyan:before {
  content: "\e61b";
}

