{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.css' %}">
</head>
<body>
    <h1>用户列表</h1>
    <input type="text" class="btn btn-primary" value="新建"/>
    <img src="{% static 'img/1.png' %}" alt="">

    <script src="{% static 'plugins/bootstrap-3.4.1-dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.1.js' %}"></script>
</body>
</html>