{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/echarts.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/echarts-wordcloud.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/map/js/china.js' %}"></script>
</head>
<body>
    {#--页面跳转--#}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    <li><a href="/regist/html/">首页</a></li>
                    <li><a href="/rdsj/event_list/">热点事件</a></li>
                    <li><a href="/xtfx/comment_list/">心态分析</a></li>
                    <li><a href="/xttz/">心态调整建议生成</a></li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    {#1.搜索框#}
    <form method="get">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="请输入热点事件、心态、地区等" value="{{ search_data}}">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search" aria-hidden="true">点击搜索</span>
                </button>
            </span>
        </div>
    </form>

    {#2.部分热点事件展示#}
    <table class="table table-bordered">
        <thead>
          <tr>
            <th>event</th>
            <th>hot</th>
            <th>attitude</th>
          </tr>
        </thead>
        <tbody>
        {% for obj in queryset %}
          <tr>
            <th>{{ obj.event_id.event }}</th>
            <td>{{ event_hot|get_item:obj.event_id.event_id }}</td>
            <td>{{ obj.get_attitude_display }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

    {#3.心态分布图#}
    <div id="map" style="width: 400px;height: 300px"></div>
    {#4.心态变化时间图#}
    <div id="pie" style="width: 400px;height: 300px"></div>
    {#5.热点地区变化时间图#}
    <div id="column" style="width: 400px;height: 300px"></div>
    {#6.高频词云图#}
    <div id="wordcloud" style="width: 400px;height: 300px"></div>
</body>
</html>

<script type="text/javascript" src="{% static 'js/attitude_map.js' %}"></script>
<script type="text/javascript" src="{% static 'js/attitude_pie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/attitude_column_hot.js' %}"></script>
<script type="text/javascript" src="{% static 'js/attitude_wordcloud.js' %}"></script>
<script>
    var mapOption;
    var pieOption;
    var columnOption;
    var wordcloudOption;

    {#1.心态分布图#}
    $.ajax({
        url:'/index/attitude_map/',
        type:'get',
        data:{},
        success:function (data) {
            mapOption =create_attitude_map(data)
            console.log(mapOption)
            if (document.readyState === "complete") {
                var MapEchart = echarts.init(document.getElementById('map'));
                MapEchart.setOption(mapOption);
            }
        }
    })

    {#2.心态变化时间图（饼图）#}
    $.ajax({
        url:'/index/attitude_pie/',
        type:'get',
        //$("#add1").val() 取到id为add1这个控件的value值
        data:{},
        success:function (data) {
            console.log(data)
            pieOption =create_attitude_pie(data)
            if (document.readyState === "complete") {
                var PieEchart = echarts.init(document.getElementById('pie'));
                PieEchart.setOption(pieOption);
            }
        }
    })

    {#3.热点地区变化时间图&高频词云图#}
    $.ajax({
        url:'/index/attitude_column/',
        type:'get',
        //$("#add1").val() 取到id为add1这个控件的value值
        data:{},
        success:function (data) {
            console.log(data)
            columnOption =create_attitude_column(data)
            if (document.readyState === "complete") {
                var ColumnEchart = echarts.init(document.getElementById('column'));
                ColumnEchart.setOption(columnOption);
                wordcloudOption =create_attitude_wordcloud()
                console.log(wordcloudOption)
                var WordCloudEchart = echarts.init(document.getElementById('wordcloud'));
                WordCloudEchart.setOption(wordcloudOption);
            }
        }
    })
</script>