{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="{% static '/plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/mainx.css' %}">
    <style>
        .account {
            width: 400px;
            border: 1px solid #dddddd;
            border-radius: 5px;
            box-shadow: 5px 5px 20px #aaa;

            margin-left: auto;
            margin-right: auto;
            margin-top: 150px;
            padding: 20px 40px;

            opacity: 0.6;
        }

        .account h2 {
            margin-top: 10px;
            text-align: center;
        }
    </style>

</head>

<body class="masthead">
    <div class="account">
        <h2 style="font-size:xx-large; align-content: center;">用户登录</h2>
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="form-group">
                <label>用户名</label>
                {{loginform.l_username}}
                <span style="color: red;">{{ loginform.l_username.errors.0 }}</span>
            </div>
            <div class="form-group">
                <label>密码</label>
                {{loginform.l_password}}
                <span style="color: red;">{{ loginform.l_password.errors.0 }}</span>
            </div>
            <div class="form-group">
                <label for="id-code">验证码</label>
                <div class="row">
                    <div class="col-xs-7">
                        {{loginform.code}}
                        <span style="color: red;">{{ loginform.code.errors.0 }}</span>
                    </div>
                    <div class="col-xs-5">
                        <img id="image_code" src="/image/code/" style="width:125px;">
                    </div>
                </div>
            </div>
            <input style="margin-right: 27px;" type="submit" class="btn btn-primary" value="登 录">
            <button id="btnRegist" style=";" type="submit" class="btn btn-info" name="regist" value="true">注 册</button>
        </form>
    </div>
</body>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script type="text/javascript">
    $(function () {
        autoFade();
    })

    function autoFade(){
        var up = true;
        setInterval(function(){
            var opacity = $(".account").css('opacity');
            opacity = Number(opacity);
            if(up==true && opacity < 1){
                opacity += 0.01;
            }else if(opacity == 1){
                up = false;
            }if(up==false && opacity > 0.5){
                opacity -= 0.01;
            }else if(opacity == 0.5){
                up = true;
            }
            $(".account").css('opacity', String(opacity));
        }, 70)
    }

</script>

</html>