{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>心态详情</title>

    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/echarts.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/echarts-wordcloud.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/map/js/china.js' %}"></script>
</head>
<body>
    {#--页面跳转--#}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    <li><a href="/index/event_list/">首页</a></li>
                    <li><a href="/rdsj/event_list/">热点事件</a></li>
                    <li><a href="/xtfx/comment_list/">心态分析</a></li>
                    <li><a href="/xttz/">心态调整建议生成</a></li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    {#1.心态详情#}
    <form method="get">
        <div class="form-group">
                <label class="col-sm-2 control-label">地区</label>
                <div class="col-sm-4">
                    {% for p in province_map.keys %}
                        <label class="checkbox-inline">
                            <input value="{{ p }}" type="checkbox" name="provinces"/>{{ p }}
                        </label>
                    {% endfor %}
                </div>
        </div>
        <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search" aria-hidden="true">确定</span>
                </button>
        </span>
    </form>
    <form method="get">
        <div class="input-group">
                <label class="col-sm-2 control-label">开始时间</label>
                年：<input value="{{ begin_year }}" type="text" name="begin_year"/>
                月：<input value="{{ begin_month }}" type="text" name="begin_month"/>
                日：<input value="{{ begin_day }}" type="text" name="begin_day"/>
        </div>
        <div class="input-group">
                <label class="col-sm-2 control-label">结束时间</label>
                年：<input value="{{ to_year }}" type="text" name="to_year"/>
                月：<input value="{{ to_month }}" type="text" name="to_month"/>
                日：<input value="{{ to_day }}" type="text" name="to_day"/>
        </div><span style="color: red">{{ error_msg }}</span>
        <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search" aria-hidden="true">确定</span>
                </button>
        </span>
    </form>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th>event</th>
            <th>hot</th>
            <th>attitude</th>
          </tr>
        </thead>
        <tbody>
        {% for obj in queryset %}
          <tr>
            <th>{{ obj.event_id.event }}</th>
            <td>{{ event_hot|get_item:obj.event_id.event_id }}</td>
            <td>{{ obj.get_attitude_display }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

    {#2.评论词云#}
    <div id="wordcloud" style="width: 400px;height: 300px"></div>
</body>
</html>

<script type="text/javascript" src="{% static 'js/attitude_wordcloud.js' %}"></script>
<script>
    var wordcloudOption;

    {#评论词云图#}
    wordcloudOption =create_attitude_wordcloud()
    console.log(wordcloudOption)
    var WordCloudEchart = echarts.init(document.getElementById('wordcloud'));
    WordCloudEchart.setOption(wordcloudOption);
</script>