{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>心态调整建议库</title>

    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/echarts.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/echarts-wordcloud.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/map/js/china.js' %}"></script>
</head>
<body>
    {#--页面跳转--#}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    <li><a href="/index/event_list/">首页</a></li>
                    <li><a href="/rdsj/event_list/">热点事件</a></li>
                    <li><a href="/xtfx/comment_list/">心态分析</a></li>
                    <li><a href="/xttz/">心态调整建议生成</a></li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


</body>
</html>